*.__data_transfer_cache_size=0
*.__db_cache_size=6090129408
*.__inmemory_ext_roarea=0
*.__inmemory_ext_rwarea=0
*.__java_pool_size=16777216
*.__large_pool_size=100663296
*.__oracle_base='/u01/app/oracle'#ORACLE_BASE set from environment
*.__pga_aggregate_target=2516582400
*.__sga_target=7532969984
*.__shared_io_pool_size=369098752
*.__shared_pool_size=939524096
*.__streams_pool_size=0
*.audit_file_dest='/u01/app/oracle/admin/{{ tgt_db }}/adump'
*.audit_trail='db'
*.compatible='19.0.0'
*.control_files='/u02/oradata/{{ tgt_db | upper}}/controlfile/control01.ctl','/u03/fast_recovery_area/{{ tgt_db | upper}}/controlfile/control02.ctl'
*.db_block_size=8192
*.db_domain='uklab.purestorage.com'
*.db_name='{{ tgt_db }}'
*.db_recovery_file_dest='/u03/fast_recovery_area/{{ tgt_db | upper}}'
*.db_recovery_file_dest_size=1800g
*.diagnostic_dest='/u01/app/oracle'
*.dispatchers='(PROTOCOL=TCP) (SERVICE={{ tgt_db }}XDB)'
*.enable_pluggable_database=true
*.log_archive_format='%t_%s_%r.dbf'
*.nls_language='ENGLISH'
*.nls_territory='UNITED KINGDOM'
*.open_cursors=300
*.pga_aggregate_target=2395m
*.processes=1280
*.remote_login_passwordfile='EXCLUSIVE'
*.sga_target=7184m
*.undo_tablespace='UNDOTBS1'
